#define DEFAULT 0
#define NAVI    1

#define NONE 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &tog NAVI       &kp KP_DIVIDE
                &kp NUMBER_7    &kp NUMBER_8
                &kp NUMBER_4    &kp NUMBER_5
                &kp NUMBER_1    &kp NUMBER_2
            >;
        };

        nav_layer {
            bindings = <
                &tog NAVI       &kp KP_DIVIDE
                &kp HOME        &kp UP
                &kp LEFT        &none
                &kp END         &kp DOWN
            >;
        };
    };
};
