#define DEFAULT 0
#define NAVI    1

#define NONE 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_VOL_DN &kp C_VOL_UP
                &kp C_MUTE   &kp C_PP
                &kp C_PREV   &kp C_NEXT
                &tog NAVI    &kp F1
            >;
        };

        nav_layer {
            bindings = <
                &kp F2       &kp F3
                &kp F4       &kp F5
                &kp F6       &bt BT_CLR
                &tog NAVI    &bt BT_SEL 0
            >;
        };
    };
};
