#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------
// | VolDown | VolUp   |
// |         |         |
// |         |         |
// |         |         |
            bindings = <
    &kp VOL_DN  &kp VOL_UP
    &kp       &kp C_PP
    &kp       &kp 
    &kp       &kp                   
            >;
        };
    };
};
